body {
    background: black;
    color: white;
    font-family: "Roboto";
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
    text-align: center;
    
}

.content-wrapper {
    display: block;
    width: 500px;
    margin: auto;
    border: 1px solid white;
    padding: 20px;
}

.doge {
    width: 200px;
    margin: auto;
    display: block;
}

section {
    margin: 20px;
}
.section-header {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    /*margin: 20px;*/
}

.people-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.people-list img {
    width: 200px;
    float: left;
    
}

a {
    color: #ff69b4;
}

a:hover {
    color: white;
}

.person-content {
    width: 240px;
    margin-left: 20px;
    float: left;
}


#Notacountry {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}